$clr-dark-1:#2a4a69;
$clr-dark-2:#252D35;
$clr-dark-3:#0f2c35;
$clr-light-1:#cdcecf;
$clr-light-2:#e6e6e6;
$clr-light-3:#f3f2f2;
$clr-white:#ffffff;
$clr-silver:silver;
$clr-primary:#96caef;
$clr-secondary:#8de4af;
$clr-secondary-d:#6FC691;
$clr-secondary-l:#9Df4BF;
$shadow:0.2em 0.2em 1em 0.2em $clr-light-1;
$fs-small:0.8rem;
$fs-text:0.9rem;
$fs-bold:1.1em;
$fs-title:1.2em;
$fs-big:1.3em;
.btn {
    transition: transform 100ms ease-out, opacity 100ms ease-out;
    border-radius: 0.1em;
    opacity: 0.9;
    cursor: pointer;
    user-select: none;
    &:hover {
        transform: scale(1.05);
        opacity: 1;
    }
    &:active {
        opacity: 0.8;
    }
}