$clr-dark-1:#2a4a69;
$clr-dark-2:#252D35;
$clr-dark-3:#0f2c35;
$clr-light-1:#cdcecf;
$clr-light-2:#e6e6e6;
$clr-light-3:#f3f2f2;
$clr-white:#ffffff;
$clr-silver:silver;
$clr-primary:#96caef;
$clr-secondary:#8de4af;
$clr-secondary-d:#6FC691;
$clr-secondary-l:#9Df4BF;

$clr-success:#dff0d8;
$clr-success-b:#bfd0b8;
$clr-success-d:#4a7f46;
$clr-info:#d9edf7;
$clr-info-b:#b9cdd7;
$clr-info-d:#3f799a;
$clr-warning:#fcf8e3;
$clr-warning-b:#dcd8c3;
$clr-warning-d:#948d80;
$clr-error:#f2dede;
$clr-error-b:#d2bebe;
$clr-error-d:#ac4b4b;

$shadow:0 2px 4px 0 silver;
$fs-small:0.8rem;
$fs-text:0.9rem;
$fs-bold:1.1em;
$fs-title:1.2em;
$fs-big:1.3em;
.btn {
    transition: transform 100ms ease-out, opacity 100ms ease-out;
    border-radius: 0.1em;
    opacity: 0.9;
    cursor: pointer;
    user-select: none;
    &:hover {
        transform: scale(1.05);
        opacity: 1;
    }
    &:active {
        opacity: 0.8;
    }
}