@import "utility";
form>* {
    margin: 0.4em;
}

input[type=text],
input[type=password],
textarea,
select {
    border: 1px solid silver;
    border-radius: 0.3em;
    padding: 0.2em 0.3em;
    outline: none;
    font-size: $fs-text;
    display: inline;
    width: 100%;
    transition: box-shadow 100ms ease-out;
    &:focus {
        $clr: $clr-secondary;
        box-shadow: 0 0 0.4em 1px $clr;
        border: 1px solid $clr;
    }
}

form {
    &>.flash {
        grid-column: 1 / -1;
        padding: 0.4em 1em;
        border-radius: 0.4em;
        $borderSize:1px;
        &[data-type=success] {
            color: $clr-success-d;
            background-color: $clr-success;
            border: $borderSize solid $clr-success-b;
        }
        &[data-type=info] {
            color: $clr-info-d;
            background-color: $clr-info;
            border: $borderSize solid $clr-info-b;
        }
        &[data-type=warning] {
            color: $clr-warning-d;
            background-color: $clr-warning;
            border: $borderSize solid $clr-warning-b;
        }
        &[data-type=error] {
            color: $clr-error-d;
            background-color: $clr-error;
            border: $borderSize solid $clr-error-b;
        }
        &[data-type=none] {
            display: none;
        }
    }
    h3 {
        margin: 1em 3em;
        padding: 1em 3em;
        border-bottom: 2px solid silver;
    }
    span {
        font-family: yekan;
    }
}

@media (max-width:600px) {
    /* 600px > screen-width */
}

@media (min-width:600px) and (max-width:1200px) {
    /* 600px < screen-width < 1200 */
}

@media (min-width:1200px) {
    /* 1200 < screen-width */
}