.btn, #intro nav > ul li {
  -webkit-transition: opacity 100ms ease-out, -webkit-transform 100ms ease-out;
  transition: opacity 100ms ease-out, -webkit-transform 100ms ease-out;
  transition: transform 100ms ease-out, opacity 100ms ease-out;
  transition: transform 100ms ease-out, opacity 100ms ease-out, -webkit-transform 100ms ease-out;
  border-radius: 0.1em;
  opacity: 0.9;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.btn:hover, #intro nav > ul li:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  opacity: 1;
}

.btn:active, #intro nav > ul li:active {
  opacity: 0.8;
}

#intro,
#outro,
#menu {
  font-size: 0.8rem;
  overflow-x: hidden;
}

i {
  font-size: 1.6em;
}

#menuBtn {
  position: fixed;
  width: 3em;
  height: 3em;
  top: 1em;
  right: 1em;
  border: 1px solid silver;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#lightbox {
  position: fixed;
  z-index: 10;
}

#lightbox .cancel {
  z-index: -1;
  height: 100vh;
  width: 100vw;
  position: absolute;
  background-color: #eeeaea;
  opacity: 0.4;
  display: none;
}

#lightbox .content #menu {
  height: 100vh;
  background: -webkit-gradient(linear, left top, right top, from(#2a4a69), to(#0f2c35));
  background: linear-gradient(90deg, #2a4a69, #0f2c35);
  position: absolute;
  -webkit-transition: right 400ms ease-out;
  transition: right 400ms ease-out;
  color: #eeeaea;
  padding: 1em;
}

#lightbox .content #menu h3 {
  width: 100%;
  background-color: #96caef;
  color: #ffffff;
  padding: 1em;
  font-size: 1.2em;
}

#lightbox .content #menu li {
  cursor: pointer;
  padding: 0.2rem;
  margin: 0.2rem;
  color: #eeeaea;
  font-family: yekan;
}

#lightbox .content #menu > ul ul li {
  display: none;
}

#lightbox .content #menu ul {
  display: block;
  width: 100%;
  list-style: decimal;
  padding: 0.2rem;
  margin: 0.2rem;
}

#lightbox .content #menu span {
  font-size: 1.2em;
}

#lightbox .content #menu > ul ul:hover > li {
  display: block;
}

#intro {
  z-index: 2;
}

#intro nav > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1em 0;
}

#intro nav > ul li {
  border-bottom: 0.1em solid #c1d5e9;
  margin: 0.1em 0.3em;
  padding: 0.2em 0.6em;
  white-space: nowrap;
}

#intro nav > ul .active-page {
  color: #8de4af;
  border-bottom: 0.2em solid #8de4af;
}

#intro > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#intro > div > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#intro > div > div * {
  padding: 0.1em 0.3em;
}

#intro > div > div:first-child {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1em;
}

#intro > div > div:last-child {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 1em 0;
}

#intro > div > div > div > img {
  width: 10rem;
}

#outro {
  z-index: 1;
}

#outro > .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  -ms-grid-columns: (minmax(12rem, 1fr))[auto-fit];
      grid-template: auto/repeat(auto-fit, minmax(12rem, 1fr));
}

#outro > .container > ul {
  margin: 1em 0;
}

#outro > .container > ul li {
  padding: 0.6em;
  color: #687188;
  font-weight: lighter;
  white-space: nowrap;
}

#outro > .container > ul li > * {
  display: inline;
}

#outro > .container > ul li h4 {
  font-size: 1.3em;
  color: #0f2c35;
}

#outro > .container > ul li a, #outro > .container > ul li address {
  font-family: yekan;
}

#outro > .container > ul:last-child > li > a > i {
  font-size: 2.4rem;
}

#outro > .container > ul:last-child > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 600px) {
  /* screen-width < 600px */
  #menu {
    width: 80vw;
    right: -80vw;
  }
  #intro > div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #intro > div > div:first-child {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #intro > div nav > ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #intro > div nav > ul i {
    display: none;
  }
}

@media (min-width: 600px) and (max-width: 1200px) {
  /* 600px < screen-width < 960 */
  #menu {
    width: 50vw;
    right: -50vw;
  }
  #intro > div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 1200px) {
  /* 960 < screen-width */
  #menu {
    width: 20vw;
    right: -20vw;
  }
  #intro > div > div:last-child {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}
/*# sourceMappingURL=header_footer.css.map */