    @import "utility";
    // global
    #intro,
    #outro,
    #menu {
        font-size: $fs-small;
        overflow-x: hidden;
    }
    
    i {
        font-size: 1.6em;
    }
    
    // specific
    #menuBtn {
        position: fixed;
        width: 3em;
        height: 3em;
        top: 1em;
        right: 1em;
        border: 1px solid silver;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #lightbox {
        position: fixed;
        z-index: 10;
        .cancel {
            z-index: -1;
            height: 100vh;
            width: 100vw;
            position: absolute;
            background-color: $clr-light-3;
            opacity: 0.4;
            display: none;
        }
        .content {
            #menu {
                height: 100vh;
                background: linear-gradient(90deg, $clr-dark-1, $clr-dark-3);
                position: absolute;
                transition: right 400ms ease-out;
                color: $clr-light-3;
                padding: 1em;
                h3 {
                    width: 100%;
                    background-color: $clr-primary;
                    color: #ffffff;
                    padding: 1em;
                    font-size: $fs-title;
                }
                li {
                    cursor: pointer;
                    padding: 0.2rem;
                    margin: 0.2rem;
                    color: $clr-light-3;
                    font-family: yekan;
                }
                &>ul ul li {
                    display: none;
                }
                ul {
                    display: block;
                    width: 100%;
                    list-style: decimal;
                    padding: 0.2rem;
                    margin: 0.2rem;
                }
                span {
                    font-size: $fs-title;
                }
                &>ul ul:hover>li {
                    display: block;
                }
            }
        }
    }
    
    #intro {
        z-index: 2;
        nav>ul {
            display: flex;
            padding: 1em 0;
            li {
                @extend .btn;
                border-bottom: 0.1em solid $clr-light-1;
                margin: 0.1em 0.3em;
                padding: 0.2em 0.6em;
                white-space: nowrap;
            }
            .active-page {
                color: $clr-secondary;
                border-bottom: 0.2em solid $clr-secondary;
            }
        }
        &>div {
            display: flex;
            justify-content: space-between;
            &>div {
                display: flex;
                * {
                    padding: 0.1em 0.3em;
                }
                &:first-child {
                    align-items: center;
                    justify-content: center;
                    padding: 1em;
                }
                &:last-child {
                    flex-direction: column;
                    justify-content: space-evenly;
                    padding: 1em 0;
                }
                &>div>img {
                    width: 10rem;
                }
            }
        }
    }
    
    #outro {
        z-index: 1;
        &>.container {
            display: grid;
            grid-template: auto / repeat(auto-fit, minmax(12rem, 1fr));
        }
        &>.container>ul {
            margin: 1em 0;
            li {
                padding: 0.6em;
                color: #687188;
                font-weight: lighter;
                white-space: nowrap;
                &>* {
                    display: inline;
                }
                h4 {
                    font-size: $fs-big;
                    color: $clr-dark-3;
                }
                a,address {
                    font-family: yekan;
                }
            }
            &:last-child>li>a>i {
                font-size: 2.4rem;
            }
            &:last-child>li {
                display: flex;
                justify-content: space-around;
            }
        }
    }
    
    @media (max-width:600px) {
        /* screen-width < 600px */
        #menu {
            width: 80vw;
            right: -80vw;
        }
        #intro>div {
            flex-direction: column;
            &>div:first-child {
                flex-direction: column;
            }
            nav>ul {
                justify-content: center;
                i {
                    display: none;
                }
            }
        }
    }
    
    @media (min-width:600px) and (max-width:1200px) {
        /* 600px < screen-width < 960 */
        #menu {
            // display: none;
            width: 50vw;
            right: -50vw;
        }
        #intro>div {
            flex-direction: column;
        }
    }
    
    @media (min-width:1200px) {
        /* 960 < screen-width */
        #menu {
            // display: none;
            width: 20vw;
            right: -20vw;
        }
        #intro>div>div:last-child {
            align-items: flex-end;
        }
    }