@import "utility";
main {
    font-size: $fs-text;
    width: 100%;
    overflow-x: hidden;
}

#services>#servicesContainer {
    display: grid;
    &>div:first-child{
        &>img{
            max-height: 60vh;
        }
    }
    &>div:last-child{
        padding: 1em;
        &>div{
            text-align: center;
            background-color: $clr-light-3;
            box-shadow: $shadow;
            margin: 1em 0;
            padding: 0.4em;
            @extend .btn;
        }
    }
}

#carousel {
    width: 100%;
    overflow-x: hidden;
    position: relative;
    .frame {
        margin: auto;
        overflow-x: hidden;
    }
    .slide {
        height: 50vh;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin: auto;
        img {
            width: 100%;
            height: 100%;
        }
    }
    button {
        width: 2em;
        height: 4em;
        border: none;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: $clr-light-3;
    }
}

#services {
    display: grid;
}

@media (max-width:600px) {
    /* 600px > screen-width */
    #services>#servicesContainer {
        grid-template: auto auto / 1fr;
    }
    #carousel>div {
        width: 100%;
    }
}

@media (min-width:600px) and (max-width:1200px) {
    /* 600px < screen-width < 960 */
    #services>#servicesContainer {
        grid-template: auto / 2fr 1fr;
    }
    #carousel>div {
        width: 80%;
    }
}

@media (min-width:1200px) {
    /* 960 < screen-width */
    #services>#servicesContainer {
        grid-template: auto / 3fr 1fr;
        padding: 2em 10em;
    }
    #carousel>div {
        width: 60%;
    }
}