.btn, main > section > #pageIndex > div[data-page] {
  -webkit-transition: opacity 100ms ease-out, -webkit-transform 100ms ease-out;
  transition: opacity 100ms ease-out, -webkit-transform 100ms ease-out;
  transition: transform 100ms ease-out, opacity 100ms ease-out;
  transition: transform 100ms ease-out, opacity 100ms ease-out, -webkit-transform 100ms ease-out;
  border-radius: 0.1em;
  opacity: 0.9;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.btn:hover, main > section > #pageIndex > div:hover[data-page] {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  opacity: 1;
}

.btn:active, main > section > #pageIndex > div:active[data-page] {
  opacity: 0.8;
}

main {
  display: -ms-grid;
  display: grid;
  border-radius: 0.3em;
  -webkit-box-shadow: 0.2em 0.2em 1em 0.2em #cdcecf;
          box-shadow: 0.2em 0.2em 1em 0.2em #cdcecf;
  margin-top: 2em;
  margin-bottom: 2em;
}

main .hr {
  margin: 1em 0.4em;
  border-top: 1px solid #cdcecf;
  display: block;
}

main > h2 {
  padding: 1em;
}

main > section {
  padding: 0.8em;
}

main > section > a > article {
  padding: 1em;
  cursor: pointer;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.4em;
  -webkit-transition: background-color 400ms ease-out;
  transition: background-color 400ms ease-out;
}

main > section > a > article:hover {
  background-color: #e6e6e6;
}

main > section > a > article > div:last-child > h3 {
  font-weight: lighter;
  font-size: 1.3em;
  font-family: yekan, cursive;
  padding-inline: 1em;
}

main > section > a > article > div:last-child > .info {
  padding: 1em;
  color: gray;
  font-weight: lighter;
}

main > section > a > article > div:last-child > .info > span {
  font-size: 1em;
  padding: 0 0.4em;
}

main > section > a > article > div:last-child > .info > span i {
  font-size: 1rem;
  color: #6FC691;
}

main > section > a > article > div:last-child > .text {
  padding: 0.4em;
  letter-spacing: 1px;
  line-height: 2em;
  font-size: 0.8rem;
  font-weight: 100;
}

main > section > a > article > div:last-child > button {
  padding: 0.3em 0.9em;
  font-size: 0.9em;
  border: none;
  border-radius: 0.2em;
  margin: 1em;
}

main > section > a > article > div:last-child > button i {
  font-size: 0.9em;
}

main > section > #pageIndex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main > section > #pageIndex > div {
  padding: 0.2em 0.6em;
  margin: 0.2em;
}

main > section > #pageIndex > div[data-page] {
  border: 0.4em solid #ddd;
  background-color: #6FC691;
  color: #ffffff;
  font-weight: lighter;
}

main > aside {
  padding: 1em;
}

main > aside .search {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f3f2f2;
  border-radius: 0.2em;
  border: 1px solid #cdcecf;
}

main > aside .search input {
  padding: 0 0.6em;
  background-color: transparent;
  width: 100%;
  outline: none;
  border: none;
  font-size: 1.2em;
  font-family: yekan, cursive;
  font-weight: lighter;
  letter-spacing: 1px;
}

main > aside .search button {
  background-color: transparent;
  padding: 0.4em 1em;
  margin: 0.4em;
  outline: none;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: 1px solid #cdcecf;
}

main > aside .search button i {
  color: #252D35;
}

main > aside .articleContainer {
  display: -ms-grid;
  display: grid;
}

main > aside article {
  cursor: pointer;
  padding: 1em;
  border-radius: 0.4em;
  -webkit-transition: background-color 400ms ease-out;
  transition: background-color 400ms ease-out;
}

main > aside article:hover {
  background-color: #e6e6e6;
}

main > aside article div {
  height: 10em;
}

main > aside article p {
  color: gray;
  font-family: yekan, cursive;
}

main > aside article p > span {
  color: #2a4a69;
  font-size: 0.9em;
}

main > aside article p > span > i {
  font-size: 0.9em;
  color: #6FC691;
  padding-inline: 0.4em;
}

@media (max-width: 600px) {
  /* 600px > screen-width */
  main {
    -ms-grid-rows: auto;
    -ms-grid-columns: 100%;
        grid-template: auto / 100%;
  }
  main > section > a > article {
    -ms-grid-rows: auto;
    -ms-grid-columns: 100%;
        grid-template: auto / 100%;
  }
  main > section > a > article > div:first-child {
    height: 20em;
  }
  main > aside .articleContainer {
    -ms-grid-rows: auto;
    -ms-grid-columns: (minmax(10em, 1fr))[auto-fill];
        grid-template: auto/repeat(auto-fill, minmax(10em, 1fr));
  }
}

@media (min-width: 600px) and (max-width: 1200px) {
  /* 600px < screen-width < 960 */
  main {
    -ms-grid-rows: auto;
    -ms-grid-columns: 67% 33%;
        grid-template: auto / 67% 33%;
  }
  main > section {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
  main > section > a > article {
    -ms-grid-rows: auto;
    -ms-grid-columns: 40% 60%;
        grid-template: auto / 40% 60%;
  }
  main > aside {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
  main > aside .articleContainer {
    -ms-grid-rows: auto;
    -ms-grid-columns: 100%;
        grid-template: auto / 100%;
  }
  main > aside .articleContainer article {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto;
    -ms-grid-columns: 50% 50%;
        grid-template: auto / 50% 50%;
  }
  main > aside .articleContainer article div {
    height: 6em;
  }
  main > aside .articleContainer article p {
    padding: 0.4em;
  }
}

@media (min-width: 1200px) {
  /* 960 < screen-width */
  main {
    -ms-grid-rows: auto;
    -ms-grid-columns: 75% 25%;
        grid-template: auto / 75% 25%;
  }
  main > section {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
  main > section > a > article {
    -ms-grid-rows: auto;
    -ms-grid-columns: 30% 70%;
        grid-template: auto / 30% 70%;
  }
  main > section > a > article > div:first-child {
    height: 12em;
  }
  main > aside {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
  main > aside .articleContainer {
    -ms-grid-rows: auto;
    -ms-grid-columns: 100%;
        grid-template: auto / 100%;
  }
  main > aside .articleContainer article {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto;
    -ms-grid-columns: 50% 50%;
        grid-template: auto / 50% 50%;
  }
  main > aside .articleContainer article div {
    height: 6em;
  }
  main > aside .articleContainer article p {
    padding: 0.4em;
  }
}
/*# sourceMappingURL=posts.css.map */