@import "utility";
section {
    padding: 0.8em 0 !important;
}

#cartManager {
    display: none;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: hsla(0, 0%, 52.9%, 0.5);
    z-index: 100;
    &>div {
        display: flex;
        flex-direction: column;
        gap: 1em;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 10vh;
        max-width: 600px;
        max-height: 80vh;
        width: 90%;
        background-color: $clr-light-2;
        border-radius: 1vw;
        padding: 1em;
        overflow: auto;
        &>#header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            &>span {
                @extend .btn;
                font-size: 0.8rem;
                color: red;
            }
        }
        &>.list {
            background-color: $clr-light-3;
            border-radius: 0.4em;
            box-shadow: $shadow;
            display: flex;
            flex-direction: column;
            gap: 0.2em;
            padding: 0.2em;
            max-height: 69vh;
            overflow: auto;
            &>.row {
                display: flex;
                gap: 0.4em;
                justify-content: space-between;
                align-items: center;
                padding: 0.4em;
                border-bottom: 1px solid silver;
                &:last-child {
                    border: none;
                }
                &>div>img {
                    max-width: 10em;
                }
                &>.qntt {
                    display: flex;
                    gap: 1em;
                    align-items: center;
                    &>button {
                        padding: 0.2em 1em;
                        border: none;
                        box-shadow: $shadow;
                        background-color: $clr-secondary-d;
                        border-radius: 0.4em;
                    }
                }
            }
        }
        &>#terminal {
            display: flex;
            justify-content: space-between;
            align-items: center;
            &>button{
                padding: 0.3em 1em;
                box-shadow: $shadow;
                border: none;
                border-radius: 0.4em;
                background-color: $clr-secondary-d;
            }
            &>span{
                font-size: 0.9rem;
            }
        }
    }
}

#storeBar {
    position: sticky;
    top: 0;
    padding: 0.2em 0.3em;
    box-shadow: 0 4px 2px -2px silver;
    background-color: $clr-light-3;
    z-index: 10;
    &>.container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &>#search {
            display: flex;
            align-items: center;
            border-radius: 0.3em;
            padding: 0.4em 1em 0.4em 0.8em;
            margin: 0.2em 0.4em;
            background-color: $clr-light-2;
            &>i {
                padding: 0.1em 0 0.1em 0.4em;
                color: rgba(0, 0, 0, 0.5);
                font-size: 1.2em;
                cursor: pointer;
            }
            &>input {
                padding: 0 0.2em 0 0;
                outline: none;
                border: none;
                background-color: transparent;
            }
        }
        &>#cart {
            position: relative;
            display: flex;
            align-items: center;
            padding: 0.2em 0.4em;
            cursor: pointer;
            &>span {
                font-size: 0.9em;
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                right: 0;
                bottom: 0;
                border-radius: 50%;
                width: 1.3em;
                height: 1.3em;
                background-color: $clr-dark-1;
                color: #ffffff;
                box-shadow: $shadow;
            }
            &>i {
                color: $clr-secondary-d;
            }
        }
    }
}

@media (max-width:600px) {
    /* 600px > screen-width */
    #storeBar #search input {
        width: 30vw;
    }
}

@media (min-width:600px) and (max-width:1200px) {
    /* 600px < screen-width < 1200 */
}

@media (min-width:1200px) {
    /* 1200 < screen-width */
}