.btn {
  -webkit-transition: opacity 100ms ease-out, -webkit-transform 100ms ease-out;
  transition: opacity 100ms ease-out, -webkit-transform 100ms ease-out;
  transition: transform 100ms ease-out, opacity 100ms ease-out;
  transition: transform 100ms ease-out, opacity 100ms ease-out, -webkit-transform 100ms ease-out;
  border-radius: 0.1em;
  opacity: 0.9;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.btn:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  opacity: 1;
}

.btn:active {
  opacity: 0.8;
}

main > article {
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main > article > * {
  padding: 0.4em 0;
  margin: 1em 0;
}

main > article > .category {
  padding: 0.2em 1em;
  font-size: 0.9em;
  color: gray;
  font-family: yekan, cursive;
  background-color: #e6e6e6;
  border-radius: 0.6em;
}

main > article > .category i {
  font-size: 1em;
  padding: 0 0.4em;
  color: #2a4a69;
}

main > article > .info {
  font-size: 1rem;
}

main > article > .info > * {
  padding: 0.4em 1em;
}

main > article > .info > img {
  width: 100%;
  height: initial;
  max-height: 50vh;
}

main > article > .info > h3 {
  color: #0f2c35;
  font-weight: lighter;
  letter-spacing: 0.8px;
  font-family: yekan, cursive;
}

main > article > .info > p {
  font-size: 0.9em;
}

main > article > .info > p span {
  padding: 0 1em 0 0.2em;
}

main > article > .info > p span i {
  font-size: 1em;
  color: #6FC691;
}

main > article > .extra {
  border-radius: 0.4em;
  background-color: #e6e6e6;
  padding: 1em;
}

main > article > .extra > .tags {
  padding: 0.2em;
}

main > article > .extra > .tags > div {
  display: inline-block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 0.2em 0.6em;
  margin: 0.4em;
  background-color: #a8ffca;
  font-size: 0.9em;
  border-radius: 0.3em;
  border: 2px dashed #6FC691;
  font-weight: bolder;
}

main > article > .extra > .comments > h3 {
  padding-inline: 1em;
}

main > article > .extra > .comments > form {
  display: -ms-grid;
  display: grid;
}

main > article > .extra > .comments > form textarea {
  min-height: 20vh;
}

main > article > .extra > .comments > form button[type=submit] {
  border: 1px solid silver;
  padding: 0.6em;
  margin: 1em;
  background-color: #8de4af;
}

main > article > .extra > .comments > form button[type=submit]:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

main > article > .extra > .comments .comment {
  border-radius: 0.4em;
  background-color: #f3f2f2;
  margin: 1em 0.4em;
  border: 1px solid silver;
}

main > article > .extra > .comments .comment > .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main > article > .extra > .comments .comment > .head > img {
  margin: 1em;
  margin-bottom: 0;
  max-width: 4em;
  max-height: 6em;
}

main > article > .extra > .comments .comment > .head > div {
  margin: 1em 0.4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main > article > .extra > .comments .comment > .head > div > span {
  color: gray;
}

main > article > .extra > .comments .comment > p {
  padding: 0 1em 1em 1em;
}

@media (max-width: 600px) {
  /* 600px > screen-width */
  main > article > .info > img {
    width: 100%;
    height: initial;
  }
  main > article > .extra > .comments > form {
    -ms-grid-rows: auto;
    -ms-grid-columns: 1fr;
        grid-template: auto / 1fr;
  }
}

@media (min-width: 600px) and (max-width: 1200px) {
  /* 600px < screen-width < 960 */
  main > article {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
  main > article > .info > img {
    width: 50%;
    height: initial;
    float: right;
  }
  main > article > .extra > .comments > form {
    -ms-grid-rows: auto;
    -ms-grid-columns: 1fr 1fr;
        grid-template: auto / 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  /* 960 < screen-width */
  main > article {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
  main > article > .info > img {
    width: 25%;
    height: initial;
    float: right;
  }
  main > article > .extra > .comments > form {
    -ms-grid-rows: auto;
    -ms-grid-columns: 1fr 1fr;
        grid-template: auto / 1fr 1fr;
  }
}
/*# sourceMappingURL=post.css.map */